[submodule "docs"]
	path = docs
	url = https://github.com/thruthesky/docs
[submodule "packages/easy_phone_sign_in"]
	path = packages/easy_phone_sign_in
	url = https://github.com/thruthesky/easy_phone_sign_in
[submodule "packages/font_awesome_flutter"]
	path = packages/font_awesome_flutter
	url = https://github.com/thruthesky/font_awesome_flutter
[submodule "packages/philgo_v6_flutter"]
	path = packages/philgo_v6_flutter
	url = https://github.com/thruthesky/philgo_v6_flutter
[submodule ".claude/skills/flutter-design-skill"]
	path = .claude/skills/flutter-design-skill
	url = https://github.com/thruthesky/flutter-design-skill
