name: file_cache_flutter
description: "A file cache library for Flutter applications. Easily cache files to improve performance and reduce network usage."
version: 0.0.1
homepage: https://github.com/thruthesky/file_cache_flutter

environment:
  sdk: ^3.10.3
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
