<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675064809117-1413b6s69jp8l9bc68ksjs8q1a9bu79f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675064809117-1413b6s69jp8l9bc68ksjs8q1a9bu79f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>675064809117-ke7i2g667qe1jjkunhh5ttoce37ohqu5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCm76FlLe1YLacXe-RqdJdlGB1F7lXKt_E</string>
	<key>GCM_SENDER_ID</key>
	<string>675064809117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.philgo.philgo</string>
	<key>PROJECT_ID</key>
	<string>philgo-64b1a</string>
	<key>STORAGE_BUCKET</key>
	<string>philgo-64b1a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675064809117:ios:7fa44aab3006c1d252f674</string>
	<key>DATABASE_URL</key>
	<string>https://philgo-64b1a.firebaseio.com</string>
</dict>
</plist>